body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    background-color: #171717;
    color: #ececf1;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    background-color: #212121;
    box-sizing: border-box;
}

.wosen-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
    gap: 5rem;
    flex-wrap: wrap;
}

.wosen {
    background-color: #0d0d0d;
    border-radius: 5px;
    padding: 10px;
    min-width: 8rem;
    text-align: center;
    color: #e6e6e6;
    flex: 1;
    max-width: 150px;
}


h2 {
    color: #ffffff;
    text-align: center;
    margin: 0 0 1rem;
}

textarea {
    margin-top: 6vh;
    margin-bottom: -2vh;
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #212121; 
    background-color: #0d0d0d;
    color: #ececf1;
    box-sizing: border-box;
    resize: none;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

textarea:focus {
    border-color: #10a37f;
    box-shadow: 0 0 8px rgba(16, 163, 127, 0.6); 
}

textarea:blur {
    transition: border-color 0.3s ease-out, box-shadow 0.3s ease-out;
}

@media (max-width: 600px) {
    body {
        padding: 1.5rem;
    }

    h2 {
        font-size: 20px;
    }

    .stats {
        flex-direction: column;
        gap: 1rem;
    }

    textarea {
        height: 120px;
        font-size: 14px;
    }

    .stat {
        font-size: 16px;
        width: 100%;
    }
}
